.container{
    padding-top: 20vh;
    display: flex;
    justify-content: center;
}
.about-container {
    width: 50vw;
  }
.logo {
  font-family: 'Pacifico', serif;
  font-size: xx-large;
  color: black;
  display: inline;
}