<div class="container">
<div class="about-container">
    <p class="header">Here at Deal-Swiper</p>

    <article>
    <p class="header">Our Mission</p>
    <h1><p>To be one of the world’s leading providers of entertainment and information when it comes to shopping.</p></h1>
    </article>

    <article>
    <p class="header">Our Vision</p>
    <h1><p>A world where everyone can do online shopping at a decent price.</p></h1>
    </article>

    <article>
    <p class="header">Our Purpose</p>
    <h1><p>To allow users to discover great products daily without breaking their banks - 
        while a good bargain means different things to different people, 
        here at What-a-Deal we're sure that if you stick around you'll find something of your liking at a great price.</p></h1>
    </article>
</div>
</div>