@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.container{
    padding-top: 20vh;
    display: flex;
    justify-content: center;
}
.about-container {
    width: 50vw;
  }
.header {
  font-family: 'Kanit', sans-serif;
  font-size: xx-large;
  color: black;
  display: inline;
  
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}