<hr class="rounded">
<div class="about-container">
    <h1>Here at What-a-Deal</h1>

    <article>
    <h3>Our Mission</h3>
    <p>To be one of the world’s leading providers of entertainment and information when it comes to shopping.</p>
    </article>

    <article>
    <h3>Our Vision</h3>
    <p>A world where everyone can do online shopping at a decent price.</p>
    </article>

    <article>
    <h3>Our Purpose</h3>
    <p>To allow users to discover great products daily without breaking their banks - 
        while a good bargain means different things to different people, 
        here at What-a-Deal we're sure that if you stick around you'll find something of your liking at a great price.</p>
    </article>
</div>