@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Kanit', sans-serif;
  font-size: 4.5vw;
  color: white;
  text-align: center;
}

.cat-name {
  color: gold;
}

.cat-price {
  color: gold;
}
