<mat-card class="card">
  <img class="image-card" mat-card-image [src]=products[0].image alt="Product image">
  <mat-card-title>{{products[0].name}}</mat-card-title>
  <mat-card-subtitle>{{products[0].description}}</mat-card-subtitle>
  <mat-card-subtitle>{{products[0].price}}</mat-card-subtitle>
  <mat-card-subtitle>{{products[0].review}}</mat-card-subtitle>
  <mat-card-actions class="actions">
    <button mat-button>NEXT</button>
    <button mat-button>SHARE</button>
    <button mat-button>BUY</button>
  </mat-card-actions>
</mat-card>
